<!DOCTYPE html>

<html lang="en">

      <div class="container">
        <% for index in @gmap_address_index %>
          <%= @eventful_concert_output_array[index] %>
        <% end %>
      </div>
    






  <footer class="footer">
    <p>&copy;Weekend-Plan is an Academic Research Platform using Eventful and Opentable API</p>
  </footer>

</html>