<!DOCTYPE html>

<html lang="en">
  
 <p> <%= @recommendation.id %> </p>







  <footer class="footer">
    <p>&copy;Weekend-Plan is an Academic Research Platform using Eventful and Opentable API</p>
  </footer>

</html>